*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop{
    font-size: 1.3em;
    padding: 1em 3em;
    position: relative;
    background-color: var(--background-color);
    --background-color: rgb(188, 191, 192);
    --background-color-change: #0Af;
    --border-size: 5px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pop{
    z-index: 1;
}
.pop::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    z-index: -1;
    background-color: var(--background-color-change);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left;

}
.pop:hover::before,
.pop:focus::before{
    transform: scaleX(1);
}