*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop{
    height: 5em;
    width: 15em;
    position: relative;
    background-color: var(--background-color);
    --background-color: rgb(211, 205, 205);
    --border-size: 5px;
    cursor: pointer;
}
.pop::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: var(--border-size) solid var(--background-color);
    z-index: -1;
    transition: right,left,bottom,top, 100ms ease-in-out;

}
.pop:hover::before,
.pop:focus::before{
    cursor: pointer;
   top: calc(var(--border-size)* -2);
   left: calc(var(--border-size)* -2);
   right: calc(var(--border-size)* -2);
   bottom: calc(var(--border-size)* -2);
}