*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.transfrom{
    width: 70%;
    height: 30vh;
    background-image: linear-gradient(to left ,rgb(132, 132, 223) ,rgb(107, 190, 107)) ;
        display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
    padding: 2em 2em;
}
.transfrom>div{
    background-color: rgb(177, 12, 122);
    height: max(20%,4em);
    width: max(40%,30em);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4em;
    transition: transform 3s ,background-color 1s step-start, background-size 3s;
    /* transition-timing-function: ease; */
}
.one:hover{
    cursor: pointer;
    /* transform: rotate(360deg); */
    background-size: 0% 100%;

    background-color: black;
    color: white;
}